<div class="democomp2-demo">
  <h2>Demo Component 2</h2>
  
  <hr>

  <div>
    <p>Global Count | ServiceCounter</p>
    <button y-click="useServiceDec">-</button>
    <button y-click="useServiceInc">+</button>
    <span>({{ counterService.count }})</span>
  </div>

  <hr>
  
  <div>
    <p>Random Pokémon:</p>
    <div y-if="someApiData">
      <strong>{{ pokemonName | uppercase }}</strong><br>
      <img src="{{ pokemonImage }}" alt="{{ pokemonName }}" width="150" height="150" />
    </div>
    <div y-if="!someApiData">
      <em>Loading...</em>
    </div>
  </div>

  <button y-link="/democomp1">Back to Demo-Page-1</button>
  <button y-link="/">Back Home</button>
</div>