* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background: #111222;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    padding: 6rem 0;
}

footer {
    background-color: #100222;
    padding: 6rem 2rem;
    text-align: center;
    color: #777;
    font-size: 0.9em;
    margin-top: 2em;

    & p {
        color: cyan;
    }

    & a {
        text-decoration: underline;
        color: #fff;
    }
}